<?xml version="1.0" encoding="utf-8"?>
<packages>

  <!--Xamarin.Forms-->
  <package id="Xamarin.Forms" version="2.3.0.46-pre3" />

  <!--CarouselView (latest released version)-->
  <!--<package id="Xamarin.Forms.CarouselView" version="2.3.0-pre1" />-->

  <!--Calabash-->
  <!--<package id="Xamarin.TestCloud.Agent" version="0.19.0" targetFramework="xamarinios10" />-->

  <!--UITest-->
  <!--<package id="Xamarin.UITest" version="1.3.7" targetFramework="net452" />-->

  <!--NUnit-->
  <!--<package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net452" />-->

  <!--Android-->
  <!--<package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />-->

  <!--WP8-->
  <!--<package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />-->

</packages>
