* filter=lfx diff=lfx merge=lfx -text
.gitattributes filter= diff= merge= text=auto
.gitignore filter= diff= merge= text=auto
packages.config filter= diff= merge= text=auto
*.lfxconfig filter= diff= merge= text eol=lf
